{% extends "amalog/www/templates/base.html" %}
{% block title%} Sobre Nosotros {%endblock%}
{% block content%}

  <!-- bradcam_area_start  -->
  <div class="bradcam_area breadcam_bg bradcam_overlay">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="bradcam_text">
            <h3>Sobre Nosotros</h3>
            <p><a href="index.html">Home /</a> About</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- bradcam_area_end  -->


  <!-- welcome_docmed_area_start -->
  <div class="welcome_docmed_area">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <div class="welcome_thumb">
            <div class="thumb_1">
              <img src="img/about/1.png" alt="">
            </div>
            <div class="thumb_2">
              <img src="img/about/2.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="welcome_docmed_info">
            <h2>Bienvenidos a AMALOG</h2>
            <h3>¿Por qué elegirnos?</h3>
            <p><b>AMALOG</b> es su aliado estratégico, donde nos mantenemos enfocados en reducir los
              costos operativos de sus cargas aéreas y marítimas, solo debe suministrarnos la
              información básica de sus cargas, tales como: peso real, peso volumétrico, tipo
              de commodity, origen y destino, tipo de servicio, si es contenedor o carga suelta
              y nosotros a la brevedad posible enviaremos la mejor tarifa en función de sus especificaciones.</p>
            <!-- <ul>
                              <li> <i class="flaticon-right"></i> Apartments frequently or motionless. </li>
                              <li> <i class="flaticon-right"></i> Duis aute irure dolor in reprehenderit in voluptate.</li>
                              <li> <i class="flaticon-right"></i> Voluptatem quia voluptas sit aspernatur. </li>
                          </ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- welcome_docmed_area_end -->

  <!-- testmonial_area_start -->
  <!--
  <div class="testmonial_area">
    <div class="testmonial_active owl-carousel">
      <div class="single-testmonial testmonial_bg_1 overlay2">
        <div class="container">
          <div class="row">
            <div class="col-xl-10 offset-xl-1">
              <div class="testmonial_info text-center">
                <div class="quote">
                </div>
                <p>Somos una empresa dedicada al servicio logístico de transporte aéreo, marítimo y
                  terrestre. Rapidez, cercanía al cliente y eficacia, resumen perfectamente nuestro
                  servicio de logistica y compromiso con los clientes. Nuestros socios estratégicos
                  en el soporte de logistica de reconocidas redes de agentes a nivel global nos dan
                  el apoyo y la posibilidad de ofrecer a nuestros clientes diversas opciones de
                  transporte al momento de realizar sus embarques según su necesidad. Contamos con
                  agnetes en todas partes del mundo.
              </div>
            </div>
          </div>
        </div>
      </div>
    -->
      <!--
        <div class="single-testmonial testmonial_bg_2 overlay2">
          <div class="container">
            <div class="row">
              <div class="col-xl-10 offset-xl-1">
                <div class="testmonial_info text-center">
                  <div class="quote">
                    <i class="flaticon-straight-quotes"></i>
                  </div>
                  <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br>
                    sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.
                    <br>
                    Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                  <div class="testmonial_author">
                    <h4>Asana Korim</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="single-testmonial testmonial_bg_1 overlay2">
          <div class="container">
            <div class="row">
              <div class="col-xl-10 offset-xl-1">
                <div class="testmonial_info text-center">
                  <div class="quote">
                    <i class="flaticon-straight-quotes"></i>
                  </div>
                  <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br>
                    sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.
                    <br>
                    Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                  <div class="testmonial_author">
                    <h4>Asana Korim</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
           -->
    </div>
  </div>
  </div>
  <!-- testmonial_area_end -->

  <!-- business_expert_area_start  -->
  <div class="business_expert_area">
    <div class="business_tabs_area">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <ul class="nav" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="text-align:center;">Misión</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" style="text-align:center;">Visión</a>
              </li>


              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" style="text-align:center;">Valores</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
    <div class="container">
      <div class="border_bottom">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="row align-items-center">
              <div class="col-xl-6 col-md-6">
                <div class="business_info">
                  <div class="icon">
                  </div>
                  Facilitar soluciones Logistica integradas basadas en la excelencia operacional e
                  informativa a través de nuestro talento humano, enfocados siempre al cliente y
                  aliados estratégicos, innovando con herramientas tecnológicas vanguardistas.
                  </p>
                </div>
              </div>
              <div class="col-xl-6 col-md-6">
                <div class="business_thumb">
                  <img src="img/about/business3.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row align-items-center">
              <div class="col-xl-6 col-md-6">
                <div class="business_info">
                  <div class="icon">
                  </div>
                  <h3><b>AMALOG</b> ofrece a sus clientes soluciones que se adaptan a sus necesidades de transporte
                    marítimo.</h3>
                  <p>
                    <br>
                    Gracias a acuerdos preferenciales con las principales lineas navieras
                    (Evergreen, MSC, Maersk, Hapag-lloyd, Hamburgsud y más) AMALOG puede garantizar
                    espacios y equipos, adaptándose a los requerimientos de sus clientes.<br>

                    Sea un <b>FCL</b> o <b>LCL</b>, <b>AMALOG</b> proporciona un servicio flexible y seguro en el transporte
                    de mercancía, manteniendo informado en todo momento al cliente de su embarque.
                  </p>
                </div>
              </div>
              <div class="col-xl-6 col-md-6">
                <div class="business_thumb">
                  <img src="img/about/business.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="row align-items-center">
              <div class="col-xl-6 col-md-6">
                <div class="business_info">
                  <div class="icon">
                  </div>
                    Compromiso <br>
                    Honestidad <br>
                    Respeto <br>
                    Trabajo en Equipo <br>
                    Sostenibilidad <br>
                    </p>
                </div>
              </div>
              <div class="col-xl-6 col-md-6">
                <div class="business_thumb">
                  <img src="img/about/business2.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- business_expert_area_end  -->

  <!-- Emergency_contact start -->
  <!--
    <div class="Emergency_contact">
      <div class="conatiner-fluid p-0">
        <div class="row no-gutters">
          <div class="col-xl-6">
            <div class="single_emergency d-flex align-items-center justify-content-center emergency_bg_1 overlay_skyblue">
              <div class="info">
                <h3>For Any Emergency Contact</h3>
                <p>Esteem spirit temper too say adieus.</p>
              </div>
              <div class="info_button">
                <a href="#" class="boxed-btn3-white">+10 378 4673 467</a>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="single_emergency d-flex align-items-center justify-content-center emergency_bg_2 overlay_skyblue">
              <div class="info">
                <h3>Make an Online Appointment</h3>
                <p>Esteem spirit temper too say adieus.</p>
              </div>
              <div class="info_button">
                <a href="#" class="boxed-btn3-white">Make an Appointment</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
     -->
  <!-- Emergency_contact end -->

 {% endblock %}